/* You can add global styles to this file, and also import other style files */
@import '/src/dist/scss/vars.scss';
:host {
    font-size: 14px;
    color: $text-primary-color;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

*{
    box-sizing: border-box;
}

p {
    margin: 0;
}

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
